@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .resmen {
    display: block !important;
  }
  .newest {
    .tekst, .billede {
      height: 50vh !important;
    }
  }

  .billede {
    margin-top: 60px;
  }
}

@media screen and (max-width: 421px) {
  .tekst {
    margin-top: 0px;
  }

  .billede {
    margin-top: -70px;
  }

  .newest:before {
    left: 10px !important;
  }
}

@media screen and (max-width: 600px) {
  .newestTekst {
    text-align: center;
    h2 {
      font-size: 20px;
    }
    h1 {
      font-size: 29px;
    }
  }
}